<ion-view class="background-default">

  <ion-content scroll="true" overflow-scroll="true" style="top: 57px;">
    <video
      id="videoPlayer"
      controls autoplay playsinline muted
      width="640"
      height="360">
    </video>
  </ion-content>

  <md-toolbar class="tlaloc-header">
    <div class="md-toolbar-tools">
      <!-- Botón izquierdo -->
      <md-button class="md-icon-button"
                 ng-click="return()"
                 aria-label="Menu">
        <img src="images/new/arrow-left.svg" class="toolbar-icon">
      </md-button>
      <!-- Título -->
      <h2 class="toolbar-title-modules">Lista de Cámaras
      </h2>
    </div>
  </md-toolbar>

</ion-view>
