<ion-view>

  <ion-content scroll="false" overflow-scroll="false" class="let-background-black">

    <div ng-show="step == 1">
      <br><br><br>
      <md-subheader class="config-password-title-white">
        {{ "CHANGE_PASSWORD_LBL_1" | translate }}
        <p class="config-password-subtitle">
          {{ "CHANGE_PASSWORD_LBL_2" | translate }}
        </p>
      </md-subheader>

      <br>

      <div class="padding-left-right-10">
        <div class="let-input-gray">
          <input type="password" id="input_password_change" ng-model="input.password" maxlength="10" aria-label="Iniciar sesion" ng-keyup="changeIcons('')"/>
          <img src="images/icons/no-eye.png" ng-click="viewPasswordChange('')" id="visibility_password_change" alt="Eye Icon" data-action="toggle-recover-form">
        </div>
      </div>

      <br>

      <div class="config-password-content-icon">
        <div ng-show="minus_ == false" class="config-password-icon">
          <img src="images/icons/lower-white.png" class="width-30"/>
          <p class="config-password-icon-p">{{ "CHANGE_PASSWORD_LBL_3" | translate }}</p>
        </div>
        <div ng-show="minus_ == true" class="config-password-icon">
          <img id="img_minus" src="images/icons/lower-orange.png" class="width-30"/>
          <p class="config-password-icon-p-ok">{{ "CHANGE_PASSWORD_LBL_3" | translate }}</p>
        </div>

        <div ng-show="mayus == false" class="config-password-icon">
          <img src="images/icons/upper-white.png" class="width-30"/>
          <p class="config-password-icon-p">{{ "CHANGE_PASSWORD_LBL_4" | translate }}</p>
        </div>
        <div ng-show="mayus == true" class="config-password-icon">
          <img id="img_mayus" src="images/icons/upper-orange.png" class="width-30"/>
          <p class="config-password-icon-p-ok">{{ "CHANGE_PASSWORD_LBL_4" | translate }}</p>
        </div>

        <div ng-show="number_ == false" class="config-password-icon">
          <img src="images/icons/number-white.png" class="width-30"/>
          <p class="config-password-icon-p">{{ "CHANGE_PASSWORD_LBL_5" | translate }}</p>
        </div>
        <div ng-show="number_ == true" class="config-password-icon">
          <img id="img_number_" src="images/icons/number-orange.png" class="width-30"/>
          <p class="config-password-icon-p-ok">{{ "CHANGE_PASSWORD_LBL_5" | translate }}</p>
        </div>

        <div ng-show="length_ == false" class="config-password-icon">
          <img src="images/icons/length-white.png" class="width-30"/>
          <p class="config-password-icon-p">{{ "CHANGE_PASSWORD_LBL_6" | translate }}</p>
        </div>
        <div ng-show="length_ == true" class="config-password-icon">
          <img id="img_length_" src="images/icons/length-orange.png" class="width-30"/>
          <p class="config-password-icon-p-ok">{{ "CHANGE_PASSWORD_LBL_6" | translate }}</p>
        </div>
      </div>

      <br>
      <br>
      <center ng-show="minus_ == false || mayus == false || number_ == false || length_ == false">
        <md-button ng-disabled="minus_ == false || mayus == false || number_ == false || length_ == false" class="let-config-password-btn">
          {{ "CHANGE_PASSWORD_LBL_7" | translate }}
        </md-button>
      </center>

      <center ng-show="minus_ == true && mayus == true && number_ == true && length_ == true">
        <md-button ng-click="continueStepChange()" class="let-config-password-btn">
          {{ "CONTINUE" | translate }}
        </md-button>
      </center>

    </div>

    <div ng-show="step == 2">
      <br><br><br>
      <md-subheader class="config-password-title-white">
        {{ "CHANGE_PASSWORD_LBL_8" | translate }}
        <p class="config-password-subtitle">
          {{ "CHANGE_PASSWORD_LBL_9" | translate }}
        </p>
      </md-subheader>

      <br>

      <div class="padding-left-right-10">
        <div class="let-input-gray">
          <input type="password" id="input_password_change_confirm" ng-model="input.password_confirm" maxlength="10" aria-label="Iniciar sesion" ng-keyup="changeIcons('_confirm')"/>
          <img src="images/icons/no-eye.png" ng-click="viewPasswordChange('_confirm')" id="visibility_password_change_confirm" alt="Eye Icon" data-action="toggle-recover-form">
        </div>
      </div>

      <br>

      <div class="config-password-content-icon">
        <div ng-show="minus_confirm == false" class="config-password-icon">
          <img src="images/icons/lower-white.png" class="width-30"/>
          <p class="config-password-icon-p">{{ "CHANGE_PASSWORD_LBL_3" | translate }}</p>
        </div>
        <div ng-show="minus_confirm == true" class="config-password-icon">
          <img id="img_minus_confirm" src="images/icons/lower-orange.png" class="width-30"/>
          <p class="config-password-icon-p-ok">{{ "CHANGE_PASSWORD_LBL_3" | translate }}</p>
        </div>

        <div ng-show="mayus_confirm == false" class="config-password-icon">
          <img src="images/icons/upper-white.png" class="width-30"/>
          <p class="config-password-icon-p">{{ "CHANGE_PASSWORD_LBL_4" | translate }}</p>
        </div>
        <div ng-show="mayus_confirm == true" class="config-password-icon">
          <img id="img_mayus_confirm" src="images/icons/upper-orange.png" class="width-30"/>
          <p class="config-password-icon-p-ok">{{ "CHANGE_PASSWORD_LBL_4" | translate }}</p>
        </div>

        <div ng-show="number_confirm == false" class="config-password-icon">
          <img src="images/icons/number-white.png" class="width-30"/>
          <p class="config-password-icon-p">{{ "CHANGE_PASSWORD_LBL_5" | translate }}</p>
        </div>
        <div ng-show="number_confirm == true" class="config-password-icon">
          <img id="img_number_confirm" src="images/icons/number-orange.png" class="width-30"/>
          <p class="config-password-icon-p-ok">{{ "CHANGE_PASSWORD_LBL_5" | translate }}</p>
        </div>

        <div ng-show="length_confirm == false" class="config-password-icon">
          <img src="images/icons/length-white.png" class="width-30"/>
          <p class="config-password-icon-p">{{ "CHANGE_PASSWORD_LBL_6" | translate }}</p>
        </div>
        <div ng-show="length_confirm == true" class="config-password-icon">
          <img id="img_length_confirm" src="images/icons/length-orange.png" class="width-30"/>
          <p class="config-password-icon-p-ok">{{ "CHANGE_PASSWORD_LBL_6" | translate }}</p>
        </div>
      </div>

      <br>
      <br>
      <center ng-if="minus_confirm == false || mayus_confirm == false || number_confirm == false || length_confirm == false">
        <md-button ng-disabled="minus_confirm == false || mayus_confirm == false || number_confirm == false || length_confirm == false" class="let-config-password-btn">
          {{ "CHANGE_PASSWORD_LBL_9" | translate }}
        </md-button>
      </center>
      <center ng-if="minus_confirm == true && mayus_confirm == true && number_confirm == true && length_confirm == true">
        <md-button ng-click="savePassword()" class="let-config-password-btn">
          {{ "CHANGE_PASSWORD_LBL_10" | translate }}
        </md-button>
      </center>

    </div>

    <div id="congratulations" ng-show="step == 3" class="let-background-orange step-register step-register-congratulations">

      <img class="float_anim img-width-100-percentage" src="images/congratulations.png">
      <br><br>
      {{ "CONGRATULATIONS" | translate }}
      <br><br>{{ "CHANGE_PASSWORD_LBL_11" | translate }}
      <br><br>{{ "REGISTER_LBL_26" | translate }}

      <br><br>
      <div class="config-password-return-btn">
        <md-button class="btn-star config-password-btn" ng-click="return()">
          {{ "CONTINUE" | translate }}
        </md-button>
      </div>

    </div>

  </ion-content>

  <md-button ng-show="step <= 2" class="btn-back" ng-click="return()" aria-label="Settings">
    <img src="images/icons/back-white.png" class="toolbar-header-button-img"/>
  </md-button>

</ion-view>
