<ion-view>

  <style>
    .swiper-container {
      width: 100%;
      height: 80%!important;
    }

    .div-content-intro-img {
      top: calc(40% - 250px);
      position: absolute
    }

    .swiper-container-horizontal>.swiper-scrollbar {
      position: absolute;
      left: 1%;
      bottom: 3px;
      z-index: 50;
      height: 2px;
      width: 98%;
    }

    .div-img-slide-step {
      height: 250px!important;
    }

    .div-img-intro {
      width: 250px;
      left: calc(50% - 125px);
      display: inline-block;
      position: absolute;
    }

    .div-title-step {
      font-family: 'Quicksand-Regular';
      color: #1a0039;
      font-size: 27px;
      line-height: 110% !important;
      text-align: left;
      width: 80%;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 50px;
    }

    .div-text-step {
      font-family: 'Quicksand-Regular';
      color: #1e1e1e;
      font-size: 17px;
      line-height: 130% !important;
      text-align: justify;
      padding-left: 10%;
      padding-right: 10%;
    }

    .swiper-slide {
      background: transparent;
    }

    .background-gradient-content {
      background: rgb(250,250,250);
      background: linear-gradient(0deg, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 100%);
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: #FF7500 !important;
    }

    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      display: inline-block;
      border-radius: 20px;
      background: #000;
    }

    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
      -webkit-transform: scale(.66);
      -ms-transform: scale(.66);
      transform: scale(.66);
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: 3px;
    }

    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
      -webkit-transform: scale(.33);
      -ms-transform: scale(.33);
      transform: scale(.33);
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: 3px;
    }

    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
      -webkit-transform: scale(.66);
      -ms-transform: scale(.66);
      transform: scale(.66);
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: 3px;
    }

    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
      -webkit-transform: scale(.66);
      -ms-transform: scale(.66);
      transform: scale(.66);
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: 3px;
    }

    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
      -webkit-transform: scale(.66);
      -ms-transform: scale(.66);
      transform: scale(.66);
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: 3px;
    }

    .div-footer-intro {
      position: fixed;
      padding: 20px;
      z-index: 9;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-family: 'Quicksand-Regular';
      bottom: auto;
    }

    .btn-next {
      border-radius: 15px;
      background-color: #4d0080 !important;
      color: #fff;
      width: 150px;
      font-weight: bold;
    }

    .btn-go-login {
      border-radius: 15px;
      background-color: #FF7500 !important;
      color: #fff;
      width: 150px;
      font-weight: bold;
    }

  </style>

  <ion-content scroll="false" class="fade-in-center div-content background-gradient-content">

    <div class="swiper-container">
      <div class="swiper-wrapper">

        <div class="swiper-slide">

          <div class="div-slide-step">

            <div>
              <div class="div-title-step color-black font-weight-bold">
                Lorem
                Lorem Ipsum
              </div><br>
              <div class="div-text-step">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
            </div>

            <div style="height: 50%!important;">

              <div style="top: 50%; position: absolute">
                <div class="div-img-intro">
                  <img src="images/step-1-1.svg" class="div-img-slide-step float_anim">
                </div>

                <div class="div-img-intro">
                  <img src="images/step-1.svg" class="div-img-slide-step">
                </div>
              </div>

            </div>

          </div>

        </div>

        <div class="swiper-slide">

          <div class="div-slide-step">

            <div>
              <div class="div-title-step color-black font-weight-bold">
                Lorem
                Lorem Ipsum
              </div><br>
              <div class="div-text-step">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
            </div>

            <div style="height: 50%!important;">

              <div style="top: 50%; position: absolute">
                <div class="div-img-intro">
                  <img src="images/step-2-1.svg" class="div-img-slide-step float_anim">
                </div>

                <div class="div-img-intro">
                  <img src="images/step-2.svg" class="div-img-slide-step">
                </div>
              </div>

            </div>

          </div>

        </div>

        <div class="swiper-slide">

          <div class="div-slide-step">

            <div>
              <div class="div-title-step color-black font-weight-bold">
                Lorem
                Lorem Ipsum
              </div><br>
              <div class="div-text-step">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
            </div>

            <div style="height: 50%!important;">

              <div style="top: 50%; position: absolute">
                <div class="div-img-intro">
                  <img src="images/step-3-1.svg" class="div-img-slide-step float_anim">
                </div>

                <div class="div-img-intro">
                  <img src="images/step-3.svg" class="div-img-slide-step">
                </div>
              </div>

            </div>

          </div>

        </div>

        <div class="swiper-slide">

          <div class="div-slide-step">

            <div>
              <div class="div-title-step color-black font-weight-bold">
                Lorem
                Lorem Ipsum
              </div><br>
              <div class="div-text-step">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
            </div>

            <div style="height: 50%!important;">

              <div style="top: 50%; position: absolute">
                <div class="div-img-intro">
                  <img src="images/step-4-1.svg" class="div-img-slide-step float_anim">
                </div>

                <div class="div-img-intro">
                  <img src="images/step-4.svg" class="div-img-slide-step">
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>

    </div>

    <div class="div-footer-intro">
      <label ng-if="realIndexSwiper == 1" class="color-grey font-weight-bold"></label>

      <md-button ng-if="realIndexSwiper < swiper.slides.length" ng-click="next_intro()" class="btn btn-next">
        Siguiente
      </md-button>

      <md-button ng-if="realIndexSwiper == swiper.slides.length" ng-click="gologin()" class="btn btn-go-login">
        Comenzar
      </md-button>

    </div>

  </ion-content>
</ion-view>
