<md-bottom-sheet class="list-sheet">

  <div class="sheet-header">
    <h3>{{ objective.lib_name }}</h3>
  </div>

  <md-list>

    <!-- ACCIÓN: CAMBIAR ESTADO DE ALARMAS -->
    <md-list-item ng-click="toggleAlarm()">
      <md-icon class="material-icons">
        {{ objective.lib_link_alarm == '1'
        ? 'notifications_off'
        : 'notifications_active' }}
      </md-icon>

      <p>
        {{ objective.lib_link_alarm == '1'
        ? 'No generar alarmas'
        : 'Generar alarmas' }}
      </p>
    </md-list-item>

    <!-- EDITAR (SOLO SI ACTUALMENTE GENERA ALARMAS) -->
    <md-list-item
      ng-if="objective.lib_link_alarm == '1'"
      ng-click="editTarget()">

      <md-icon class="material-icons">edit</md-icon>
      <p>Editar</p>
    </md-list-item>

    <!-- OBJETIVOS (SOLO SI ACTUALMENTE GENERA ALARMAS) -->
    <md-list-item
      ng-if="objective.lib_link_alarm == '1'"
      ng-click="objectives()">

      <md-icon class="material-icons">groups</md-icon>
      <p>Objetivos</p>
    </md-list-item>

  </md-list>

</md-bottom-sheet>
