<ion-view>

  <ion-content scroll="false" overflow-scroll="false" class="background-gradient-image">

    <div class="let-welcome-div">
      <img src="images/logo.png" alt="Logo Principal">

      <p class="let-description">TEN EL CONTROL<br>DE TUS FIN<b class="color-naranja">A</b>NZ<b class="color-amarillo-1">A</b>S</p>

      <div class="div-btn">
        <md-button ng-click="login()" class="let-btn-fill">
          Iniciar sesión
        </md-button>
      </div>

      <div>
        <md-button md-no-ink ng-click="register(true)">
          <label class="let-text-white">¿No tienes una cuenta?</label>
          <label class="let-text-yellow ">Nuevo Registro</label>
        </md-button>
      </div>

    </div>
  </ion-content>

</ion-view>
