<md-dialog aria-label="Acerca de">
  <div class="about-dialog">
    <div class="about-logo">
      <img src="images/512.png" alt="Logo">
    </div>
    <div class="about-title">
      <label class="title-lg">Acerca de</label>
    </div>
    <div class="about-text">
      <label class="subtitle-lg-gray">Versión {{version}}</label>
      <br>
      <label class="subtitle-lg-gray">Aplicación desarrollada por:</label>
      <br>
      <label class="subtitle-lg-gray">Genio Inventivo SAPI de CV</label>
      <br>
      <label class="subtitle-lg-gray">© 2026 Todos los derechos reservados.</label>
    </div>
    <div class="about-buttons">
      <div ng-click="closeDialog()" class="about-btn">
        Cerrar
      </div>
    </div>
  </div>

</md-dialog>
