<div style="text-align:center;">
  <div align="center" style="padding-top: 20px!important; margin-bottom: 10px!important;">
    <label class="titulo-modal color-base" style="font-size: 16px;">AVISO</label>
  </div>

  <div  align="center" style="padding-right:10px;padding-left:10px;">
    <label class="texto-modal">
      {{detalle}}
    </label>
  </div>

  <br>

  <div align="middle" class="div-boton-alert">
    <div class="button-bar" style="width:100%;">
      <div class="row" style="margin: 0px!important;padding: 0px!important;height: 47px!important">
        <div class="col" align="center" style="margin: 2px!important;padding: 0px!important;height: 41px!important">
          <button ng-click="closeConfirm()" class="button  button-clear texto-boton" style="width: 100%">CANCELAR</button>
        </div>
        <div class="col" align="center" style="border-left: solid 1px;border-color: white;margin: 2px!important;padding: 0px!important;height: 41px!important">
          <button ng-click="acceptConfirm()" class="button button-clear texto-boton" style="width: 100%">ACEPTAR</button>
        </div>
      </div>
    </div>
  </div>


</div>
