<div class="take-picture-content">
  <div align="center" class="margin-bottom-10">
    <br>
    <center>
      <img src="images/svg/options.svg" width="150px">
      <br>
      <h2 class="md-title">¿Que deseas realizar?</h2>
    </center>

  </div>
  <br>
  <div align="center" class="take-picture-div-table">
    <table class="width-100-percentage">
      <tr>
        <td class="take-picture-icon">
          <div align="bottom" ng-click="answerDocumentOption(1)">
            <img src="images/icons/cellular-plan.png" width="45px">
            <br/>
            Descargar
          </div>
        </td>
        <td class="width-10-percentage"></td>
        <td class="take-picture-icon">
          <div align="bottom" ng-click="answerDocumentOption(2)">
            <img src="images/icons/search.png" width="45px">
            <br/>
            Visualizar
          </div>
        </td>
      </tr>
    </table>

  </div>
  <br>

  <div class="padding-15">
    <div align="middle" class="div-boton-alert background-base-btn" ng-click="cancelDocumentOption()" >
      <label class="button texto-boton background-base-btn take-picture-btn">{{ "LOGIN_LBL_14" | translate }}</label>
    </div>
  </div>

</div>
