
<div class="language-content">
  <div align="center" class="language-content-title">
    <br>
    <label class="titulo-modal font-weight-bold color-blue">{{ "INTRO_LBL_2" | translate }}</label>
  </div>
  <br>
  <div class="language-content-btns">
    <div ng-click="answer(1)" class="language-content-icons">
      <img src="images/icons/es.png" width="45px">
      {{ "INTRO_LBL_5" | translate }}
    </div>
    <div ng-click="answer(2)" class="language-content-icons">
      <img src="images/icons/en.png" width="45px">
      {{ "INTRO_LBL_7" | translate }}
    </div>
  </div>

  <br>

</div>

