<div style="padding-left: 15px;padding-right: 15px;padding-top: 15px;padding-bottom: 5px">
  <md-dialog-content class="md-dialog-content">
    <h3 class="md-title ng-binding font-base">Mensaje</h3><!-- ngIf: ::dialog.mdHtmlContent --><!-- ngIf: ::!dialog.mdHtmlContent -->
    <div class="md-dialog-content-body">
      <p class="ng-binding texto-regular">{{detallemensaje}}</p>
    </div>
  </md-dialog-content>
  <div align="right">
    <button style="margin-right: 0px!important;padding-right: 0px!important" class="md-primary md-confirm-button md-button md-default-theme md-ink-ripple md-autofocus" type="button" ng-click="closeMessage()" >
      <span class="ng-binding color-base font-base">ACEPTAR</span>
    </button>
  </div>
</div>
