<ion-modal-view class="background-base-popover">

  <ion-content scroll="true" class="div-ion-content">

    <md-list-item class="md-2-line md-long-text stores-list-item">
      <div class="md-list-item-text">
        <p class="line-height-115-percentage">Puedes pagar en uno de los 32 mil puntos
          asociados a la red</p>
      </div>
    </md-list-item>

    <div class="stores-images-content">
      <img src="images/stores/1.webp" width="120px">
      <img src="images/stores/2.webp" width="120px">
      <img src="images/stores/3.webp" width="120px">
    </div>

    <div class="stores-images-content">
      <img src="images/stores/4.webp" width="120px">
      <img src="images/stores/5.webp" width="120px">
      <img src="images/stores/6.webp" width="120px">
    </div>

    <div class="stores-images-content">
      <img src="images/stores/7.webp" width="120px">
      <img src="images/stores/8.webp" width="120px">
      <img src="images/stores/9.webp" width="120px">
    </div>

    <div class="stores-images-content">
      <img src="images/stores/16.webp" width="120px">
      <img src="images/stores/11.webp" width="120px">
      <img src="images/stores/12.webp" width="120px">
    </div>

    <div class="stores-images-content">
      <img src="images/stores/10.webp" width="120px">
      <img src="images/stores/14.webp" width="120px">
      <img src="images/stores/15.webp" width="120px">
    </div>

    <div class="stores-images-content">
      <img src="images/stores/13.webp" width="120px">
      <img src="images/stores/17.webp" width="120px">
      <img src="images/stores/18.webp" width="120px">
    </div>

    <div class="stores-images-content">
      <img src="images/stores/19.webp" width="120px">
      <img src="images/stores/20.webp" width="120px">
      <img src="images/stores/21.webp" width="120px">
    </div>

    <div class="stores-images-content">
      <img src="images/stores/22.webp" width="120px">
      <img src="images/stores/23.webp" width="120px">
      <img src="images/stores/24.webp" width="120px">
    </div>

  </ion-content>

  <md-button class="btn-back" ng-click="closeModalStores()" aria-label="Settings">
    <img src="images/icons/arrow-down.png" class="toolbar-header-button-img"/>
  </md-button>
  <div class="toolbar-header-title">
    <h3>Otras tiendas</h3>
  </div>

</ion-modal-view>
