
  <ion-popover-view style="height: 60px!important">

    <ion-content overflow-scroll="false">
      <div class="list">
        <label ng-click="edit()"  class="item item-icon-left">
          <i class="icon ion-edit" style="font-size: 18px"></i> <label class="texto-modal">Editar datos de registro</label>
        </label>
        <!--<label ng-click="logout()"  class="item item-icon-left">
          <i class="icon ion-android-exit" style="font-size: 18px"></i> <label class="texto-modal">Cerrar sesión</label>
        </label>-->
      </div>
    </ion-content>
  </ion-popover-view>


