<ion-popover-view style="height:280px!important;width:250px">


  <ion-content overflow-scroll="true" >
    <div style="height: 45px;width: 100%" collection-repeat="country in countries">
      <div class="row row-center" style="padding: 0px!important;">
        <div class="col col col-center" style="color: grey;text-align: center!important;padding: 0px!important;">
          <md-button class="btn1-clear" ng-click="selectCountry(country)" style="margin: 0px!important;width: 100%!important;height: 45px;text-align: left;text-transform: none">
            &nbsp;&nbsp;<span style="padding-left:15px;" class="flag-icon flag-icon-{{country.iso | lowercase}}"></span>
            &nbsp;&nbsp; <label class="font-base-regular" style="font-size: 12px">{{country.name}}</label>
          </md-button>
        </div>
      </div>

    </div>

</ion-popover-view>
